.gallery__item {
    padding-bottom: 8px;
    text-align: center;
    overflow: hidden;
    background-color: #443c684b;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image {
    min-height: 405px;
    margin: 0 auto;
    object-fit: cover;
}

.item__title {
    margin: 8px;
    font-size: 18px;
    line-height: 1.15;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.item__details {
    padding: 8px;
    text-align: left;
}

.item__details>summary {
    margin-bottom: 4px;
    text-align: center;
    cursor: help;
}