.section {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.section__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #402e32;
}

.noInfo {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #402e32;
}
