.gallery {
    display: grid;
    max-width: calc(100vw - 60px);
    margin: 0 auto;
    padding: 24px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    text-align: center;
    gap: 16px;
}