.section {
    margin-top: 100px;
    padding: 34px;
}



.form {
    position: relative;
    margin-left: 24px;
}

.searchInput {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
    padding-left: 50px;
    font-size: 18px;
    border-color: transparent;
}



.button {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    min-width: 50px;
    transform: translateY(4px);
    border: none;
    background-color: transparent;
    cursor: pointer;
}
